body {
    background: rgb(201, 234, 255);
    font-family: "Lexend Deca", sans-serif
}

.container {
    width: 500px;
    height: 500px;
    border: 5px solid white;
    background-color: #0d1b2a;
    color: aliceblue;
    border-radius: 25px;
    margin: auto;
}

h1 {
    margin: 75px 0 0 40px;
}

span {
    color: #02c39a;
}

p {
    margin-left: 40px;
    font-weight: 200;
}


#generate-password {
    border-radius: 5px;
    background: #02c39a;
    padding: 5px 10px;
    margin: 40px 40px;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    border: none;
}

.line {
    background: #284b63;
    width: 90%;
    height: 0.5px ;
    margin: auto;
}

.password-containers {
    display: flex;
    justify-content: space-around;
    margin: 50px 40px;
}

.password {
    width: 185px;
    height: 25px;
    border-radius: 5px;
    background: #284b63;
    border: none;
    color: #02c39a;
}


