@font-face {
    font-family: "Digi";
    src: url(DS-DIGIB.TTF);
}

body {
  background: #e9f5ee;
  font-family: Arial, sans-serif;
  text-align: center;
}

.scoreboard {
  width: 600px;
  margin: 100px auto;
  padding: 30px;
  background: #1b244a;
  border-radius: 15px;
}

.teamcontainer {
  display: flex;
  justify-content: space-around;
}

.team {
  text-align: center;
  color: white;
  font-size: 50;
  font-weight: 200px;
  margin-bottom: -15px;
}

.score {
  background: black;
  color: #f94f6d;
  font-family: 'Digi';
  font-size: 100px;
  width: 120px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}

.buttons {
  background: transparent;
  color: #9aabd8;
  border: 1px solid #9aabd8;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.buttons:hover {
    border: 1px solid yellow;
    color: yellow;
    font-weight: bold;
}

.newgame-btn {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  background: black;
  color: #f94f6d;
  font-size: 25px;
  font-weight: bolder;
  width: 200px;
  padding: 10px;
  border: 2px solid #f94f6d;
  cursor: pointer;
}

.newgame-btn:hover {
  color: yellow;
  border: 2px solid yellow;


}
