body {
    text-align: center;
    background-image: url(table.png);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    color: goldenrod;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-shadow: 0 0 2px black;
}

#message-el {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic ;
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
    text-shadow: 0 0 2px black;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 20px;
}

button {
    margin: 2px auto;
    background-color: goldenrod;
    width: 200px;
    color: #016f32;
    border: 2px solid #016f32;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    border: 3px solid whitesmoke;
    text-shadow: 0 0 5px whitesmoke;
}

#reset:hover {
    border: 3px solid red;
    text-shadow: 0 0 5px red;
}