body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    
}

input {
    border: 1px solid #5f9341;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 150px;
    background: #5f9341;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    padding: 10px;
    border: 1.5px solid  #5f9341;

}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {
    color : #5f9341;
}

#delete-btn {
    background: white;
    color:  #5f9341;
}